name: .NET 10.0 Build (x64|ARM64) and Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
        fullbuild:
          type: boolean
          description: Perform a full build
          default: false

jobs:
  build:
    runs-on: windows-latest
    env:
      TargetMinWinVersion: net10.0-windows10.0.22621.0
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install .NET 10
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build EM Hasher (x64)
      working-directory: src/EM.Hasher
      run: |
           msbuild EM.Hasher.csproj /restore /m /p:configuration="Release" /p:platform="x64" -p:PublishReadyToRun=false

    - name: Build EM Hasher (ARM64)
      working-directory: src/EM.Hasher
      run: |
           msbuild EM.Hasher.csproj /restore /m /p:configuration="Release" /p:platform="ARM64" -p:PublishReadyToRun=false

    - name: Build Unit Tests Project (x64)
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      working-directory: src/EM.Hasher.Tests
      run: |
           msbuild EM.Hasher.Tests.csproj /restore /m /p:configuration="Debug" /p:platform="x64" -p:PublishReadyToRun=false
    
    # The Unit test Appx must now be Registered in order to run unit tests (post WinAppSDK 1.8)
    - name: Install the Windows App SDK Runtime (x64) via winget
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      run: |
        winget install --id Microsoft.WindowsAppRuntime.1.8 --accept-package-agreements --accept-source-agreements
        # Force AppX subsystem to refresh registration cache
        Get-AppxPackage *WindowsAppRuntime*

    - name: Register the EM.Hasher.Tests Appx
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      working-directory: src/EM.Hasher.Tests/bin/x64/Debug/${{env.TargetMinWinVersion}}
      shell: powershell
      run: |
        powershell -NoProfile -ExecutionPolicy Bypass -Command "Add-AppxPackage -Register (Resolve-Path .\AppxManifest.xml) -ForceUpdateFromAnyVersion"

    - name: Run Unit Tests via Appx --run
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      working-directory: src/EM.Hasher.Tests
      shell: powershell
      continue-on-error: true
      run: |
        $packageName = "*EM.Hasher.Tests*"
        $pkg = Get-AppxPackage -ErrorAction SilentlyContinue | Where-Object { $_.InstallLocation -like $packageName }
        Write-Host "Found package: $pkg"
        if (-not $pkg) {
            Write-Error "Package $packageName not found. Did you run Add-AppxPackage?"
            exit 1
        }
        $packageFamilyName = $pkg.PackageFamilyName
        # Make the unit test results directory
        $currentDir = Get-Location
        Write-Host "Current Directory: $currentDir"
        $resultsDir = "$currentDir\UnitTests"
        Write-Host "Using test results dir: $resultsDir"
        if (-not (Test-Path -Path $resultsDir)) {
            New-Item -ItemType Directory -Path $resultsDir | Out-Null
            Write-Host "Creating dir: $resultsDir"
        }
        if (Test-Path -Path $resultsDir) {
            Write-Host "Results dir exists: $resultsDir"
        }
        Write-Host "Launching $packageFamilyName with --run --logfolder `"$resultsDir`""
        Start-Process "shell:AppsFolder\$packageFamilyName!App" -ArgumentList "--run", "--logfolder", "$resultsDir"
        Write-Host "Waiting for results..."
        Start-Sleep -Seconds 30
        if ($pkg) {
            Write-Host "Uninstalling $packageFamilyName"
            Remove-AppxPackage -Package $pkg.PackageFullName
        } else {
            Write-Warning "Package $packageName not found during cleanup."
        }
        
    - name: Display Unit Test Results
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      working-directory: src/EM.Hasher.Tests/UnitTests
      shell: cmd
      run: |
        if not exist TestResults.txt (
            echo.
            echo TestResults.txt not found. Failed to run unit tests.
            exit 1
        )
        if exist TestResults.txt type TestResults.txt
        if exist FailedTests.txt (
            echo.
            echo Failed unit tests! See above.
            exit 1
        ) else (
            echo All tests passed.
        )

    - name: Upload Build Artifacts
      if: (github.ref == 'refs/heads/main' || inputs.fullbuild)
      uses: actions/upload-artifact@v5
      with:
        name: Build Artifacts
        retention-days: 1
        path: |
            src/EM.Hasher/bin
            src/EM.Hasher.Tests/UnitTests
